%nav.navbar.navbar-expand-md.navbar-light.bg-light.border-simple
  = link_to image_tag('p2p_logo.png', style: 'max-height: 50px'), root_path, class: 'navbar-brand'
  %button{ class: 'navbar-toggler', type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarCollapse' }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.justify-content-between{ id: 'navbarCollapse'}
    .navbar-nav
      = link_to t(:home), root_path, class: 'nav-item nav-link'
    = form_tag(root_path, method: :get, html: { class: 'form-inline' }) do
      .input-group
        = text_field_tag(:search, params[:search], minlength: 1, class: 'form-control')
        .input-group-append
          = submit_tag t(:search), class: 'btn btn-primary'
    .navbar-nav
      = form_tag '/set_locale', remote: true,  class: "form" do
        - if I18n.default_locale == :en
          .btn.btn-sm.btn-icon
            = image_submit_tag("flag_en.png", name: :locale, value: :en, onchange: "this.form.submit();", class: "image-icon")
          .btn.btn-sm.btn-icon.faded
            = image_submit_tag("flag_ru.png", name: :locale, value: :ru, onchange: "this.form.submit();", class: "image-icon")
        - else
          .btn.btn-sm.btn-icon.faded
            = image_submit_tag("flag_en.png", name: :locale, value: :en, onchange: "this.form.submit();", class: "image-icon")
          .btn.btn-sm.btn-icon.mr-2
            = image_submit_tag("flag_ru.png", name: :locale, value: :ru, onchange: "this.form.submit();", class: "image-icon")
      - if user_signed_in?
        = link_to t(:new_ad), new_item_path, class: 'btn btn-primary'
        .nav-item.dropdown.mr-2
          = link_to t(:profile), user_path(current_user), class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown'
          .dropdown-menu
            = link_to t(:show), user_path(current_user), class: 'dropdown-item'
            - if current_user.admin?
              = link_to t(:admin), rails_admin_path, class: 'dropdown-item'
            = link_to t(:messages), conversations_path, class: 'dropdown-item'
            = link_to t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        = link_to t(:login), new_user_session_path, class: 'nav-item nav-link active'
